*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
}

/* struttura pagina */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#user_control {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #222222;
}

/* other command */
.other_cmd_wrapper {
    position: fixed;
    top: 5px;
    right: 5px;
}

.other_cmd_module {
    font-size: 14px;
    color: white;
    background-color: rgb(80, 80, 80);
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
}

.other_cmd_module a {
    text-decoration: none;
    color: currentColor;
}

.other_cmd_module i {
    font-size: 16px;
}

.other_cmd_module:hover {
    color: #339AF0;
}

/* main */

.main_wrapper {
    background-color: black;
    height: 100%;
    padding: 100px 100px 25px;
}

.user_wrapper { 
    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.user_card:hover:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
}

.user_card {
    position: relative;
    max-width: 250px;
    max-height: 150px;
}

/* badge user-name  */
.badge {
    position: absolute;
    background-color: rgba(0,0,0,0.25);
    bottom: 0;
    left: 0;
    z-index: 9;
}

.badge ul {
    list-style: none;
    padding: 5px 10px;
}

.badge ul li {
    color: white;
    font-size: 12px;
    display: inline-block;
}

.badge ul li i {
    font-size: 14px;
}

/* navbar_centrale controlli utente*/
.user_control_main {
    display: flex;
    flex-direction: row;
    gap: 5px 10px;
}

.user_control_main ul {
    list-style: none;
    display: contents;
}

.user_control_main ul li {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.user_control_main ul li a {
    text-decoration: none;
    color: currentColor;
    font-size: 12px;
}

.user_control_main ul li i {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.user_control_main ul .chevron {
    align-self: center;
}

.chevron i {
    font-size: 10px;
    margin: 0 10px;
}

.user_control_main ul li:hover:not(li:nth-child(4)) {
   color: #339AF0;
}


.user_control_main ul li:nth-child(4) i {
    color: rgba(32, 201, 32, 0.822);
}

/* user_audiovideo buttons */
#user_audiovideo {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    margin-left: 10px;
}

#user_audiovideo ul {
    display: contents;
    list-style: none;
}

#user_audiovideo ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user_audiovideo ul li i {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

#user_audiovideo ul li:hover {
    color: #339AF0;
    scale: 90%;
    animation: 500ms;
 }

#user_audiovideo ul li a {
    text-decoration: none;
    color: currentColor;
    font-size: 12px;
}

#user_audiovideo .chevron i {
    font-size: 10px;
}

/* end meeting button */
.end_meeting {
   background-color: #505050;
   display: flex;
   flex-direction: row;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.end_meeting a {
    padding: 10px 20px;
    color: red;
    text-decoration: none;
}

.end_meeting a:hover {
    color: white;
}